@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap");

html,
body {
  min-width: 400px;
  background-color: #362f36;
  color: #eee;
  font-family: "Roboto Mono", monospace;
  line-height: 1.5;
}

nav {
  position: fixed;
  width: 290px;
  top: 0;
  left: 0px;
  height: 100%;
  border-right: 2px solid;
  border-left: 2px solid;
}

nav > header {
  text-align: center;
  font-size: 24px;
}

header {
  margin: 10px;
  text-transform: uppercase;
  font-size: 32px;
}

nav > ul {
  height: 100%;
  padding-left: 0px;
}

p {
  text-justify: newspaper;
  margin-left: 20px;
  margin-right: 20px;
}

nav > ul > li {
  margin: 0px 0px;
  position: relative;
  border-top: 1px solid;
  list-style: none;
  width: 100%;
  color: #eee;
  text-align: left;
  padding: 20px 0px;
}

nav > ul > li:hover {
  background-color: #855a85;
}

nav > ul > li > a {
  margin: 20px;
}

.nav-link {
  text-decoration: none;
  color: #eee;
}

#main-doc {
  top: 0px;
  position: absolute;
  margin-left: 310px;
  margin-right: 30px;
}

code {
  display: block;
  background-color: #817381;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  padding: 20px 20px;
  border-radius: 8px;
  margin-right: 20px;
}

@media only screen and (max-width: 815px) {
  nav > ul {
    border: 1px solid;
    height: 200px;
    width: 100%;
  }

  nav {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 200px;
    border: none;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #main-doc {
    margin-top: 200px;
    margin-left: 20px;
  }
}
